@CHARSET "UTF-8";

.classDemo {
	color: red;
	font-famliy: 黑体, Times, "Times New Roman";
	font-size: xx-large;
	font-style: italic;
	text-align: center;
	font-weight: bolder
}

p.classDemo1 {
	color: red;
	font-famliy: 黑体, Times, "Times New Roman";
	font-size: xx-large;
	font-style: italic;
	text-align: center;
	font-weight: bolder
}

#idDemo {
	color: red;
	font-famliy: 黑体, Times, "Times New Roman";
	font-size: xx-large;
	font-style: italic;
	text-align: center;
	font-weight: bolder
}

p#idDemo1 {
	color: red;
	font-famliy: 黑体, Times, "Times New Roman";
	font-size: xx-large;
	font-style: italic;
	text-align: center;
	font-weight: bolder
}